<main class="position-relative workshop">
  <div class="main_content pt-50">
  <!--archive header-->
  <div class="page-header text-center">
      <div class="container">
          <h2><span class="colorMind">Workshop</span></h2>
          <div class="breadcrumb">
            <%= link_to "Home", root_path, rel: "nofollow" %>
              <span></span>
              Workshop
          </div>
          <div class="bt-1 border-color-1 mt-30 mb-50"></div>
      </div>
  </div>
  <!--main content-->
  <div class="main_content sidebar_right pb-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 mb-30">
          <p>MinD Mad in Design è un’associazione culturale nata a Torino nel 2019 che opera in risposta a situazioni di disagio ed emarginazione nell’ambito della fragilità mentale proponendo progetti creativi, multidisciplinari e inclusivi nell’ambito delle discipline creative.<br/>
            <br/>
            Dal 2014 MinD realizza progetti che agiscono su due aspetti del design: da un lato il progetto come strumento di trasformazione in chiave migliorativa del contesto, dall’altro il processo creativo come sistema di relazioni che si traducono in pratiche di inclusione sociale e riabilitazione. Attraverso la partecipazione diretta di studenti e persone seguite dai servizi di salute mentale, MinD è il luogo dove sperimentare e verificare i risultati anche clinici di una cultura del design intesa come processo creativo.<br/>
            <br/>
            La dimensione partecipativa del design lo rende un efficace strumento di inclusione sociale, generatore di relazioni mirate a valorizzare l’altro, e prezioso alleato della strategia riabilitativa.
          </p>
        </div>
        <div class="col-12 col-lg-7 col-sm-12 mb-30">
          <!--loop-list-->
          <div class="loop-list loop-list-1">
            <article class="row mb-50">
              <div class="col-md-12">
                <div class="post-thumb position-relative thumb-overlay mr-20">
                  <div class="img-hover-slide border-radius-5 position-relative" style='background-image: linear-gradient(to top, #EF785A 20%, #EF785A99 100%), url(<%= image_path "mad_in_design-about.jpg"%>);'>
                    <h3>Workshop 2020</h3>
                    <a class="img-link" href="#"></a>
                  </div>
                  <ul class="social-share">
                    <li><a href="#" class="backroundMind"><i class="ti-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="row mb-50">
              <div class="col-md-12">
                <div class="post-thumb position-relative thumb-overlay mr-20">
                  <div class="img-hover-slide border-radius-5 position-relative" style='background-image: linear-gradient(to top, #84BBD8 20%, #84BBD899 100%), url(<%= image_path "mad_in_design-about.jpg"%>);'>
                    <h3>Workshop 2019</h3>
                    <a class="img-link" href="#"></a>
                  </div>
                  <ul class="social-share">
                    <li><a href="#" class="backroundMind"><i class="ti-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="row mb-50">
              <div class="col-md-12">
                <div class="post-thumb position-relative thumb-overlay mr-20">
                  <div class="img-hover-slide border-radius-5 position-relative" style='background-image: linear-gradient(to top, #FDD510 20%, #FDD51099 100%), url(<%= image_path "mad_in_design-about.jpg"%>);'>
                    <h3>Workshop 2018</h3>
                    <a class="img-link" href="#"></a>
                  </div>
                  <ul class="social-share">
                    <li><a href="#" class="backroundMind"><i class="ti-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="row mb-50">
              <div class="col-md-12">
                <div class="post-thumb position-relative thumb-overlay mr-20">
                  <div class="img-hover-slide border-radius-5 position-relative" style='background-image: linear-gradient(to top, #1EDD88 20%, #1EDD8899 100%), url(<%= image_path "mad_in_design-about.jpg"%>);'>
                    <h3>Workshop 2017</h3>
                    <a class="img-link" href="#"></a>
                  </div>
                  <ul class="social-share">
                    <li><a href="#" class="backroundMind"><i class="ti-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </article>
            <article class="row mb-50">
              <div class="col-md-12">
                <div class="post-thumb position-relative thumb-overlay mr-20">
                  <div class="img-hover-slide border-radius-5 position-relative" style='background-image: linear-gradient(to top, #EF785A 20%, #EF785A99 100%), url(<%= image_path "mad_in_design-about.jpg"%>);'>
                    <h3>Workshop 2016</h3>
                    <a class="img-link" href="#"></a>
                  </div>
                  <ul class="social-share">
                    <li><a href="#" class="backroundMind"><i class="ti-arrow-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
