<main class="position-relative w-show">
  <div class="main_content special_workshop_heading sidebar_right pt-50 pb-50">
    <div class="page-header page-header-style-1 text-center">
      <div class="container">
        <h2><span class="color">Team 1</span></h2>
        <div class="breadcrumb">
          <%= link_to "Home", root_path, rel: "nofollow"  %>
          <span></span>
          <%= link_to "Workshops", workshops_path %>
          <span></span>
          <%= link_to "Prendersi Cura", workshops_2020_t_prendersi_cura_path %>
          <span></span>
          Team 1
        </div>
      </div>
    </div>
  </div>
  <div class="main_content sidebar_right pt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12">
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-1"></div>

        <div class="col-12 col-lg-5 primary-sidebar sticky-sidebar">
          <figure class="single-thumnail">
            <div class="border-radius-5">
              <div class="featured-slider-1-items">
                <div class="slider-single">

                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <div class="entry-main-content mt-50">
      <div class="bt-1 border-color-1 mt-30 mb-30"></div>
        <div class="row">
          <div class="col-12">
            <h2>Giornata 1 - "Sottotitolo giornata"</h2>
          </div>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                  <div class="col-12 font-medium">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-20">
              <!-- Swiper -->
              <div class="swiper-container border-radius-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                </div>

                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>Giornata 2 - "Sottotitolo giornata"</h2>
          </div>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                  <div class="col-12 font-medium">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-20">
              <!-- Swiper -->
              <div class="swiper-container border-radius-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                </div>

                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>Giornata 3 - "Sottotitolo giornata"</h2>
          </div>
        </div>
        <div class="jumbotron">
          <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                  <div class="col-12 font-medium">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-20">
              <!-- Swiper -->
              <div class="swiper-container border-radius-5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                    <div class="swiper-slide">
                      <%= image_tag "https://res.cloudinary.com/associazione-mind-mad-in-design/image/upload/v1593998895/ye47zv555slvxbwm65kshexkptn3.jpg", alt: "alttext" %>
                    </div>
                </div>

                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</main>
