<%= form_for @contact, url: contacts_path, class: "form-contact comment_form", id: "commentForm" do |f| %>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Nome" %></br>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %></br>
      </div>
    </div>
    <div class="col-12">
      <div class="">
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "form-control",
                        placeholder: "Scrivi un messaggio"%>
      </div>
    </div>
    <div class="hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="col-12 mt-10 mb-10 form-checkbox-terms">
      <input type="checkbox" required name="terms"> <span>Dichiaro di aver letto e accettato l'<%= link_to "informativa sulla privacy", privacy_cookie_policy_path %>.</span></br>
    </div>
    <div class="col-12">
      <p>* Campi obbligatori</p>
    </div>

    <div class="col-12 ">
    <%= f.submit 'Invia Messaggio', class: 'button button-contactForm background1' %>
    </div>
  </div>
<% end %>

