<header class="main-header header-style-2">
    <div class="top-bar d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="text-right">
                  <ul id="navigation" class="main-menu">
                      <li><a href="#">Sostienici</a></li>
                      <li><a href="#">Diventa Socio</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End top bar-->

    <div id="sticker" class="header-bottom header-sticky background-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-2 text-left">
                  <div class="header-logo">
                    <%= link_to root_path do %>
                      <%= image_tag "logo_Mind_Mad-in-Design.png", alt: "MIND - Mad in Design", class: "logo-img d-inline" %>
                    <% end %>
                  </div>
                </div>
                <div class="col-6 col-lg-10 d-flex align-items-center justify-content-end">
                  <div class="main-nav text-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation" class="main-menu">
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "About", about_path %></li>
                        <li><%= link_to "People", people_path %></li>
                        <li><%= link_to "Workshop", workshops_path %></li>
                        <li><%= link_to "Progetti", projects_path %></li>
                        <li><%= link_to "Contatti", contatti_path %></li>
                      </ul>
                    </nav>
                  </div>
                  <div id="mobile_menu_toggle" class="text-right">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="mobile_menu">
  <nav>
    <ul class="main-menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "People", people_path %></li>
      <li><%= link_to "Workshop", workshops_path %></li>
      <li><%= link_to "Progetti", projects_path %></li>
      <li><%= link_to "Contatti", contatti_path %></li>
    </ul>
    <ul class="highlight-links">
      <li><a href="#">Sostienici</a></li>
      <li><a href="#">Diventa Socio</a></li>
    </ul>
  </nav>
</div>
