<div class="sostenitori container position-relative">
  <div class="row">
    <div class="col-12 p-4">
      <div class="row ">
        <div class="col-md-3 group">
          <div class="title_style_1">
            <h5 class="mt-5 mb-30 font-light">Con il sostegno di</h5>
          </div>
          <div class="img-grid x1">
            <%= image_tag "sostenitori/FondazioneCompagniadiSanPaolo.png", alt: "Fondazione Compagnia di San Paolo" %>
          </div>
        </div>
        <div class="col-md-6 group">
            <div class="title_style_1">
              <h5 class="mt-5 mb-30 font-light">In collaborazione con</h5>
            </div>
            <div class="img-grid x3">
              <%= image_tag "sostenitori/PolitecnicoDiTorino.png", alt: "Politecnico di Torino" %>
              <%= image_tag "sostenitori/UniversitaDegliStudiDiTorino.png", alt: "Università degli Studi di Torinotext" %>
              <%= image_tag "sostenitori/IED.png", alt: "IED" %>
              <%= image_tag "sostenitori/NABA.png", alt: "NABA" %>
              <%= image_tag "sostenitori/IAAD.png", alt: "IAAD" %>
              <%= image_tag "sostenitori/IlBandolo.png", alt: "Il Bandolo" %>
            </div>
        </div>
        <div class="col-md-3 group">
          <div class="title_style_1">
            <h5 class="mt-5 mb-30 font-light">Con il patrocinio di</h5>
          </div>
          <div class="img-grid x1">
            <%= image_tag "sostenitori/CameraDiCommercioIndustriaArtigianatoEAgricolturaDiTorino.png", alt: "Camera Di Commercio Industria Artigianato e Agricoltura di Torino" %>
            <%= image_tag "sostenitori/ASL_TO5.png", alt: "ALS Torino 5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
