<main class="position-relative about">
    <!--main content-->
    <div class="main_content pt-50">
        <!--archive header-->
        <div class="page-header page-header-style-1 text-center">
            <div class="container">
                <h2><span class="colorMind">About</span></h2>
                <div class="breadcrumb">
                    <%= link_to "Home", root_path, rel: "nofollow"  %>
                    <span></span>
                    About
                </div>
                <div class="bt-1 border-color-1 mt-30 mb-50"></div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex align-items-center mb-30">
              <div class="col-12 col-lg-6">
                <%= image_tag "mad_in_design-about.jpg", class: "border-radius-5", alt: "alttext" %>
              </div>
              <div class="col-12 col-lg-6">
                <div class="single-excerpt mt-20 mb-20">
                  <p class="font-large">MinD Mad in Design è un’associazione culturale nata a Torino nel 2019 che opera in risposta a situazioni di disagio ed emarginazione nell’ambito della fragilità mentale. Dal 2014 MinD realizza progetti creativi, multidisciplinari e inclusivi che agiscono su due aspetti del design: da un lato il progetto come strumento di trasformazione in chiave migliorativa del contesto, dall’altro il processo creativo come sistema di relazioni che si traducono in pratiche di inclusione sociale e riabilitazione.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-50 mb-50">
                <div class="owl-carousel mt-30">
                  <!-- Carousel loop -->
                    <div>
                      <div class="carousel-img">
                        <%= image_tag "about/Mind_about_02.jpg", class: "d-block border-radius-5", alt: "alttext" %>
                      </div>
                    </div>
                    <div>
                      <div class="carousel-img">
                        <%= image_tag "about/Mind_about_03.jpg", class: "d-block border-radius-5", alt: "alttext" %>
                      </div>
                    </div>
                    <div>
                      <div class="carousel-img">
                        <%= image_tag "about/Mind_about_04.jpg", class: "d-block border-radius-5", alt: "alttext" %>
                      </div>
                    </div>
                    <div>
                      <div class="carousel-img">
                        <%= image_tag "about/Mind_about_05.jpg", class: "d-block border-radius-5", alt: "alttext" %>
                      </div>
                    </div>
                    <div>
                      <div class="carousel-img">
                        <%= image_tag "about/Mind_about_01.jpg", class: "d-block border-radius-5", alt: "alttext" %>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row pt-50 pb-50">
              <div class="col-12 col-lg-6">
                <h2>IL PROGETTO COME STRUMENTO DI INCLUSIONE SOCIALE</h2>
              </div>

              <div class="col-12 col-lg-6">
                <p>Attraverso la partecipazione diretta di persone seguite dai servizi di salute mentale, MinD è il luogo dove sperimentare e verificare i risultati anche clinici di una cultura del design intesa come processo creativo. La dimensione partecipante del design lo rende un efficace strumento di inclusione sociale, generatore di relazioni mirate a valorizzare l’altro, e prezioso alleato della strategia riabilitativa. MinD nasce per offrire alle giovani generazioni una visione del loro futuro professionale più vicina ai bisogni della società, libera e priva di pregiudizi, e per offrire alle persone ai margini un’occasione per uscire da posizioni di isolamento, valorizzando le proprie risorse.</p>
              </div>
            </div>
            <div class="row pt-50 pb-50">
              <div class="col-12 col-lg-6">
                <h2>UNO SPAZIO DI FORMAZIONE E "CURA"</h2>
                <p class="mt-20 mb-30">MinD è uno spazio culturale, di formazione, di lavoro e di inclusione sociale, che si articola in una serie di workshop e altri eventi collaterali, in cui si sperimenta un approccio inclusivo e multidisciplinare al progetto dei luoghi del disagio mentale. Nasce nel 2014 da un’idea degli architetti Giulia Mezzalama e Sandra Poletto e della psicologa Elena Varini, ed è promosso da Camplus, rete internazionale di collegi universitari di merito, con Blu Acqua, società attiva nell’ambito della residenzialità psichiatrica, con il sostegno della Compagnia di San Paolo e la collaborazione di istituzioni universitarie, enti e aziende.</p>
              </div>

              <div class="col-12 col-lg-6">
                <%= image_tag "mad_in_design-about.jpg", class: "border-radius-5", alt: "alttext" %>
              </div>
            </div>
            <div class="row mt-50">
              <div class="col-12 text-center">
                <h3>Un progetto di:</h3>
              </div>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <div class="row mb-30">
              <div class="col-12 col-lg-4">
                <%= image_tag "mad_in_design-about.jpg", class: "border-radius-5", alt: "alttext" %>
              </div>
              <div class="col-12 col-lg-1"></div>
              <div class="col-12 col-lg-7">
                <div class="single-excerpt mt-20 mb-20">
                  <h2>CAMPLUS</h2>
                  <p class="font-medium mt-20 mb-30">
                    Camplus è una rete internazionale di undici collegi universitari di Merito situati a Bologna, Catania, Milano, Palermo, Roma, Torino, Pamplona (Spagna) in cui ad oggi vivono oltre 1000 studenti provenienti da tutta Italia e dall’estero. È gestito dalla Fondazione C.E.U.R. (Centro Europeo Università e Ricerca), riconosciuta legalmente dal M.I.U.R. (Ministero Istruzione Università e Ricerca); la Fondazione fa parte della CCUM (Conferenza dei Collegi Universitari di merito).<br/>
                    <br/>
                    Il Camplus Lingotto di Torino è situato al quarto piano dell’edificio del Lingotto, storico edificio che ospitò per molti decenni l’unico stabilimento della Fiat, successivamente convertito nell’attuale centro polifunzionale, ad opera di Renzo Piano.</p>
                </div>
              </div>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <div class="row mb-30">
              <div class="col-12 col-lg-4">
                <%= image_tag "about/Mind_about_05.jpg", class: "border-radius-5", alt: "alttext" %>
              </div>
              <div class="col-12 col-lg-1"></div>
              <div class="col-12 col-lg-7">
                <div class="single-excerpt mt-20 mb-20">
                  <h2>BLU ACQUA SRL</h2>
                  <p class="font-medium mt-20 mb-30">
                    Operativa da oltre 10 anni, svolge la propria attività a favore di pazienti portatori di psicopatologia, inseriti e coinvolti in un percorso di riabilitazione. È caratterizzata da un'équipe interdisciplinare, tra cui psicologi, educatori, designer e artigiani, che si occupa di progetti riabilitativo-ricreativi in quattro Gruppi appartamento nell'Area metropolitana di Torino, due strutture per disabilità psicofisica ed una Comunità Alloggio per pazienti in carico alla Salute Mentale. Negli ultimi anni ha impiegato professionalità ed energie nella realizzazione di una rete sociale all'interno della quale definire e creare attività ri-socializzanti, ricreative, formative e lavorative.
                  </p>
                </div>
              </div>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <div class="row mb-70">
              <div class="col-12 col-lg-4">
                <%= image_tag "about/Mind_about_Destinazione-dUso.jpg", class: "border-radius-5", alt: "alttext" %>
              </div>
              <div class="col-12 col-lg-1"></div>
              <div class="col-12 col-lg-7">
                <div class="single-excerpt mt-20 mb-20">
                  <h2>DESTINAZIONE D'USO</h2>
                  <p class="font-medium mt-20 mb-30">
                    È una associazione (no profit), creata da professionisti, che opera portando in ambito sanitario ed educativo progetti pilota riabilitativi e ri-socializzanti per persone in difficoltà.<br/>
                    <br/>Integra una formazione nei settori della psichiatria e disabilità, con esperienze legate alla valorizzazione del sapere e delle tecniche artigianali e alla cultura e alla progettazione dello spazio domestico.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
</main>

