<main class="position-relative home">
  <% banner_cover = @home.banner_image.attached? ? ",url(#{cl_image_path(@home.banner_image.key)})" : "" %>
    <div class="home-banner" style="background-image: linear-gradient(180deg, rgba(239, 120, 90, 0) 0%, #EF785A 100%) <%= banner_cover %>, linear-gradient(180deg, #EF785A 0%, #EF785A 100%)">
      <div class="banner-text">
        <h4 class="title-label"><%= @home.main_title_one %></h4>
        <h1><%= @home.main_title_two %></h1>
        <p class="subtitle"><%= @home.subtitle %></p>
      </div>
      <%= render 'shared/graphical-elements' if @home.graphics_visibility %>
    </div>
    <div class="pt-50 background-white">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row d-flex justify-content-between">
                      <div class="col-lg-3 col-md-3">
                          <div class="widget-header recent-activity-title position-relative mb-30">
                              <h5 class="widget-title mb-30 text-uppercase font-weight-ultra">Attività recenti</h5>
                          </div>
                      </div>
                      <div class="col-lg-9 col-md-9">
                          <nav class="tab-nav style-1 quick-links">
                              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                  <%= link_to projects_path, class: "nav-item nav-link" do %>
                                    Guarda tutti i Progetti
                                    <span class="link-arrow">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1 6H11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6 1L11 6L6 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    </span>
                                  <% end %>
                                  <%= link_to workshops_path, class: "nav-item nav-link" do %>
                                    Guarda tutti i Workshop
                                    <span class="link-arrow">
                                      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1 6H11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6 1L11 6L6 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    </span>
                                  <% end %>
                              </div>
                          </nav>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
                          <% unless @projects.empty? && @workshop.nil? %>
                            <div class="row">
                            <% unless @workshop.nil? %>
                              <div class="col-md-4 mb-30">
                                <div class="img-hover-scale shadow-sm slider-single border-radius-5">
                                  <% 
                                    wClImg = @workshop.cover.attached? ? "url(#{cl_image_path(@workshop.cover.key)})," : ""
                                    w_year = @workshop.start_date.year.to_s
                                    w_slug = @workshop.slug
                                    if @workshop.typology == 0
                                      w_path = workshop_path(w_year, w_slug)
                                    else
                                      w_path = team_workshop_path(w_year, w_slug)
                                    end
                                  %>
                                  <%= link_to "", w_path, class: "border-radius-5 thumb-img", style: "background-image: #{wClImg} linear-gradient(#fefefe, #eee)" %>
                                  </a>
                                </div>
                                <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                  <%= link_to w_path do %>
                                    <%= @workshop.title %>
                                  <% end %>
                                </h6>
                                <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                  <% unless @workshop.start_date.nil? %>
                                    <span class="post-on"><%= l @workshop.start_date, format: :short, locale: :it %></span>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                            <% unless @projects.empty?%>
                              <% @projects.each do |project| %>
                                <div class="col-md-4 mb-30">
                                  <div class="img-hover-scale shadow-sm slider-single border-radius-5">
                                    <% clImg = project.cover.attached? ? "url(#{cl_image_path(project.cover.key)})," : "" %>
                                    <%= link_to "", project_path(project), class: "border-radius-5 thumb-img", style: "background-image: #{clImg} linear-gradient(#fefefe, #eee)" %>
                                    <!-- <a class="border-radius-5 thumb-img" href="single.html" style="background-image: <%= "url(#{clImg})," if project.cover.attached? %> linear-gradient(#fefefe, #eee)"> -->
                                    </a>
                                  </div>
                                  <h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
                                    <%= link_to project_path(project) do %>
                                      <%= project.title %>
                                    <% end %>
                                  </h6>
                                  <div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
                                    <% unless project.start_date.nil? %>
                                      <span class="post-on"><%= l project.start_date, format: :short, locale: :it %></span>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="widget-header position-relative mt-30">
                        <h5 class="widget-title mb-30 text-uppercase colorMind font-weight-ultra"><%= @home.box_1_label %></h5>
                      </div>
                      <div class="big-card bg-yellow">
                        <div class="row">
                        <% box1ImgUrl = @home.box_1_image.attached? ? "url(#{cl_image_path(@home.box_1_image.key)})," : "" %>
                          <div class="col-md-5 card-img-bg" style="background-image: <%= box1ImgUrl %> linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))"></div>
                          <div class="col-md-7 card-content-area p-5">
                              <%= raw @home.box_1_text %>
                            <%= link_to @home.box_1_url, class: "" do %>
                              <%= @home.box_1_cta %>
                              <span class="link-arrow">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6H11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 1L11 6L6 11" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </span>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  <%= render partial: "shared/card-people", locals: {home: @home}  %>
                  <%= render partial: "shared/card-contacts", locals: {home: @home} %>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 primary-sidebar sticky-sidebar">
                  <!-- <div class="widget-area theiaStickySidebar sticky-box row">
                    <div class="sidebar-widget box-round-shadow mb-30 col-lg-12 col-md-6">
                      <p>Lorem ipsum dolor sit amet, neque paret.</p>
                      <a href="#" class="btn btn-warning">Sostienici</a>
                    </div>
                  </div> -->
                </div>
            </div>
        </div>
    </div>
</main>
