<!DOCTYPE html>
<html class="no-js" lang="it">
  <head>
    <%= render 'shared/head-analytics' %>
    <%= render 'shared/head-meta' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="scroll-progress primary-bg"></div>
    <%= render 'shared/preloader' %>
    <%= render 'shared/navbar' %>
    <div class="page">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <%= javascript_pack_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload', defer: true, 'data-turbolinks-suppress-warning': 'true' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  </body>
</html>
